* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 250px;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1.125rem 1.5rem;
}
.output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.5rem;
}
.buttons-section {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.column > button {
    cursor: pointer;
    border-radius: 8rem;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    border: none;
}
.column > button.clear {
    padding: 0.75rem;
}
.operand, .equals {
    background-color: #ff7d3b;
}
.number {
    background-color: rgba(154, 154, 154, 0.95);
}

.current-operand {
    font-size: 1.75rem;
    color: #f0f4f8;
}
.prev-operand {
    font-size: 1.5rem;
    color: rgb(116, 116, 116);
}