*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    height: 100vh;
    padding: 40px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.form-container {
    display: grid;
}

#new-book-form {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    max-height: 200px;
}


.add-btn {
    padding: 8px 24px;
    border-radius: 24px;
    background-color: lightskyblue;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-auto-rows: auto;
    align-content: center;
    gap: 3rem;
}

.book-card {
    background-color: antiquewhite;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.book-card-content {
    padding: 1rem;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.book-author, .book-pages {
    color: #777;
    font-size: .9rem;
    margin-bottom: .5rem;
}

.book-card-content-bottom {
    display: flex;
    justify-content: space-between;
}

.book-readStatus {
    color: green;
    font-size: 1.25rem;
}

.book-actions {
    display: flex;
    gap: 8px;
}

.toggle-read-btn {
    padding: 8px 24px;
    border-radius: 24px;
    background-color:lightseagreen;
}

.delete-btn {
    padding: 8px 24px;
    background-color: burlywood;
    border-radius: 24px;
}