@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #1992d4;
    --main-content-bg: #e2e8f0;
    --project-border: #f0b429;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol { list-style: none; margin: 0; padding: 0; }

body {
    font-family: Inter, sans-serif;
    height: 100vh;
}

img {
    width: 64px;
}

.custom-icon {
    filter: invert(1);
    width: 24px;
}

.custom-icon.xlarge { 
    width: 44px;
}

.header-icon {
    width: 24px;
}

.header-icon.large {
    width: 32px;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 160px 1fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: min-content auto auto;
    align-content: start;
    gap: 30px;
    padding-left: 24px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.logo span {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-main a, .nav-settings a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 8px;
    color: white;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-rows: 52px 1fr;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 40px;
}

.search-bar {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.search-bar input {
    background-color: var(--main-content-bg);
    border: none;
    border-radius: 20px;
    height: 28px;
    max-width: 700px;
}

.user-info {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 0 24px;
    align-items: center;
}

.user-info span {
    font-weight: 600;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0 40px;
}

.greeting {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 16px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.profile-info span {
    font-weight: 700;
    font-size: 14px;
}

.profile-info h2 {
    font-size: 24px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
    gap: 20px;
}

.btn {
    background-color: var(--primary-color);
    padding: 12px 28px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 14px;
    min-width: 108px;
}

.main-content { 
    background-color: var(--main-content-bg);
    display: grid;
    grid-template-columns: 1fr 320px;
    padding: 24px 36px 16px 24px;
    gap: 24px;
    height: 100%;
}

.main-content-left {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 8px;
}

.projects-container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(120px, 1fr));
    gap: 24px;
}

.project {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 8px;
    background-color: white;
    padding: 28px;
    border-radius: 8px;
    border-left: 8px solid var(--project-border);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.project p {
    overflow: hidden;
}

.project h3 {
    font-size: 16px;
}

.sharing-options { 
    display: flex;
    justify-content: flex-end;
    gap: 36px;
}

.sharing-options img {
    width: 28px;
}

.main-content-right {
    display: grid;
    grid-template-rows: auto auto;
    gap: 24px;
    align-content: start;
}

.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 12px;
}

.announcements-container h3, .trending-container h3 {
    font-size: 1.1rem;
}

.announcements-container__content, .trending-container__content {
    background-color: white;
    border-radius: 8px;
    padding: 0px 36px;
}

.announcements-container__content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.announcement-content {
    padding: 16px 0px;
    border-bottom: 1px solid #cacaca;
}

.announcement-content.no-border {
    border-bottom: none;
}

.announcement-content h4 {
    font-size: 14px;
}

.announcement-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 12px;
}

.announcement-content p, .project p {
    line-height: 1.2;
    font-size: 14px;
    color: #aaaaaa;
}

.trending-container__content { 
    display: grid;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 24px;
}

.trending-content {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 16px;
    align-content: start;
}

.trending-content img {
    width: 48px;
}

.trending-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.trending-project {
    color: #aaaaaa;
}